* {
    border: 2px solid red;
}

div {
    color: black;
    font-weight: bold;
    padding-left: 300px;
    padding-right: 240px;
}

.working {
    color: black;
    font-style: bold;
    margin-left: 20px;
    margin-right: 400px;
}